<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <title>{% block title %}{% endblock %} - Cuba local</title>
    {% endblock %}
  </head>
  <body>
    <div class="container">
        <div class="nav">
            <a class="nav-link" href="{{ url_for('general_bp.loadkey') }}">Обновить ключ</a>
        </div>
        <div class="flex gap-4 flex-center">
            <!-- Render proper nav image for current page -->
            {% if request.endpoint == 'general_bp.index' %}
            <a href="{{ url_for('general_bp.admins', page=1) }}">
                <img style="width: 50px; height: 50px;" src="{{ url_for('static', filename='img/profile.png') }}" alt="Администраторы">
            </a>
            {% elif request.endpoint == 'general_bp.admins' %}
                <a href="#" id="addAdmin">
                  <img style="width: 50px; height: 50px;" src="{{ url_for('static', filename='img/add_admin.png') }}" alt="Создать Администратора">
                </a>
                <a href="{{ url_for('general_bp.index') }}">
                    <img style="width: 50px; height: 50px;" src="{{ url_for('static', filename='img/home.png') }}" alt="Главная">
                </a>
            {% endif %}
            <div class="flex column">
                <p>Лицензия: {{'Активна' if license_status and tenant_profile else 'Неактивна'}}</p>
                {% if license_status and tenant_prodile %} <p>Истекает: {{ protected_data.expires_at | dateformat }}</p> {% endif %}
            </div>

        </div>
    </div>
    <div id="content">{% block content %}{% endblock %}</div>
    <div class="toast-container p-3 bottom-0 end-0"></div> 
    <div id="footer">
      {% block footer %}
      {% endblock %}
    </div>

    <div class="errors hidden">
      {% with errors = get_flashed_messages(category_filter=["error"]) %}
          {% if errors %}
            {% for msg in errors %}
                <span>{{ msg }}</span>
            {% endfor %}
          {% endif %}
      {% endwith %}
    </div>
    
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('general_bp.static', filename='errorNotification.mjs')}}"></script>
    {% block endscripts %}{% endblock %}
  </body>
</html>
