<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <div class="header">
        <div class="container">
            <a href="{{ url_for('general_bp.loadkey') }}">Обновить ключ</a>

            <div class="flex">
                <div class="flex column">
                    <p>Лицензия: {{ 'Аткивна' if license_status else 'Неактивна' }}</p>
                    {% if license_status %} <p>Истекает: {{ protected_data.expires_at | dateformat }}</p> {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <form action="" class="form tenant-profile">

            <h4>{{ tenant_profile.name }}</h4>

            <div class="form-inputs">
                <div>
                    <label for="max-devices">Макс. устройств</label>
                    <input disabled id="max-devices" value="{{ tenant_profile.profile_data.configuration.maxDevices }}" type="number">
                </div>

                <div>
                    <label for="max-assets">Макс. активов</label>
                    <input disabled id="max-assets" value="{{ tenant_profile.profile_data.configuration.maxAssets }}" type="number">
                </div>

                <div>
                    <label for="max-customers">Макс. клиентов</label>
                    <input disabled id="max-customers" value="{{ tenant_profile.profile_data.configuration.maxCustomers }}" type="number">
                </div>

                <div>
                    <label for="max-users">Макс. пользователей</label>
                    <input disabled id="max-users" value="{{ tenant_profile.profile_data.configuration.maxUsers }}" type="number">
                </div>
            </div>
        </form>
    </div>

    <div class="container">
        <form action="" class="form tenant">

            <h4>{{ tenant.name }}</h4>

            <div class="form-inputs">
                <div>
                    <label for="region">Регион</label>
                    <input id="region" value="{{ tenant.refion | or_blank }}" type="text">
                </div>

                <div>
                    <label for="country">Страна</label>
                    <input id="country" value="{{ tenant.country | or_blank }}" type="text">
                </div>

                <div>
                    <label for="state">Область/Штат/Земля</label>
                    <input id="state" value="{{ tenant.state | or_blank }}" type="text">
                </div>

                <div>
                    <label for="city">Город</label>
                    <input id="city" value="{{ tenant.city | or_blank }}" type="text">
                </div>

                <div>
                    <label for="address">Адрес</label>
                    <input id="address" value="{{ tenant.address | or_blank }}" type="text">
                </div>

                <div>
                    <label for="address2">Адрес 2</label>
                    <input id="address2" value="{{ tenant.address2 | or_blank }}" type="text">
                </div>

                <div>
                    <label for="zip">Почтовый индекс</label>
                    <input id="zip" value="{{ tenant.zip | or_blank }}" type="text">
                </div>

                <div>
                    <label for="phone">Номер телефона</label>
                    <input id="phone" value="{{ tenant.phone | or_blank }}" type="text">
                </div>

                <div>
                    <label for="email">Электронная почта</label>
                    <input id="email" value="{{ tenant.email | or_blank }}" type="text">
                </div>

                <div>
                    <input type="submit" value="Обновить">
                </div>
            </div>
        </form>
    </div>

    <div class="container">

        {% for tenant_admin in admins %}
        <form action="" class="form tenant-admin">

            <h4>Администратор владельца{% if tenant_admin.activation_url %}<b> Не активирован</b>{% endif %}</h4>
            {% if tenant_admin.activation_url %}
                <a class="activation-link center" href="{{ tenant_admin.activation_url }}" target="_blank">Активировать</a>
            {% endif %}

            <div class="form-inputs">
                <div>
                    <label for="first-name">Имя</label>
                    <input disabled id="first-name" value="{{ tenant_admin.first_name | or_blank }}" type="text">
                </div>

                <div>
                    <label for="last-name">Фамилия</label>
                    <input disabled id="last-name" value="{{ tenant_admin.last_name | or_blank }}" type="text">
                </div>

                <div>
                    <label for="phone">Номер телефона</label>
                    <input id="phone" value="{{ tenant_admin.phone | or_blank }}" type="text">
                </div>

                <div>
                    <label for="email">Электронная почта</label>
                    <input id="email" value="{{ tenant_admin.email | or_blank }}" type="text">
                </div>
            </div>
        </form>
        {% endfor %}
    </div>

    

    <!-- <div id="key-exists" data-keyExists="{{ key_exists }}" style="display: none;"></div> -->
    <!-- <script src="{{ url_for('general_bp.static', filename='modal.mjs') }}"></script> -->
    <script src="{{ url_for('general_bp.static', filename='openActivationTab.mjs') }}"></script>
</body>
</html>