<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <div class="header">
        <div class="container">
            <a href="{{ url_for('general_bp.loadkey') }}">Обновить ключ</a>

            <div class="flex">
                <div class="flex column">
                    <p>Лицензия: {{ 'Аткивна' if license_status else 'Неактивна' }}</p>
                    {% if license_status %} <p>Истекает: {{ protected_data.expires_at | dateformat }}</p> {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <form action="" class="form tenant-profile">

            <h4>{{ tenant_profile.name }}</h4>

            <div class="form-inputs">
                <div>
                    <label for="max-devices">Макс. устройств</label>
                    <input disabled id="max-devices" value="{{ tenant_profile.profile_data.configuration.maxDevices }}" type="number">
                </div>

                <div>
                    <label for="max-assets">Макс. активов</label>
                    <input disabled id="max-assets" value="{{ tenant_profile.profile_data.configuration.maxAssets }}" type="number">
                </div>

                <div>
                    <label for="max-customers">Макс. клиентов</label>
                    <input disabled id="max-customers" value="{{ tenant_profile.profile_data.configuration.maxCustomers }}" type="number">
                </div>

                <div>
                    <label for="max-users">Макс. пользователей</label>
                    <input disabled id="max-users" value="{{ tenant_profile.profile_data.configuration.maxUsers }}" type="number">
                </div>
            </div>
        </form>
    </div>

    <div class='container'>
        <form action="{{ url_for('general_bp.post_tenant') }}" method="POST" class="form tenant">
            {{ tenant_form.csrf_token }}
            <h4>{{ tenant.name }}</h4>

            <div class="form-inputs">

                <div>
                    {{ tenant_form.country.label }}
                    {{ tenant_form.country(value=tenant.country | or_blank) }}
                </div>

                <div>
                    {{ tenant_form.state.label }}
                    {{ tenant_form.state(value=tenant.state | or_blank) }}
                </div>

                <div>
                    {{ tenant_form.city.label }}
                    {{ tenant_form.city(value=tenant.city | or_blank) }}
                </div>

                <div>
                    {{ tenant_form.zip_code.label }}
                    {{ tenant_form.zip_code(value=tenant.zip | or_blank) }}
                </div>

                <div>
                    {{ tenant_form.address.label }}
                    {{ tenant_form.address(value=tenant.address | or_blank) }}
                </div>

                <div>
                    {{ tenant_form.address2.label }}
                    {{ tenant_form.address2(value=tenant.address2 | or_blank) }}
                </div>

                <div>
                    {{ tenant_form.phone.label }}
                    {{ tenant_form.phone(value=tenant.phone | or_blank) }}
                </div>

                <div>
                    {{ tenant_form.email.label }}
                    {{ tenant_form.email(value=tenant.email | or_blank) }}
                </div>

                {{ tenant_form.tenant_id(value=tenant.id.id)}} 
                {{ tenant_form.title(value=tenant.title) }}

                <div>
                    {{ tenant_form.submit }}
                </div>
            </div>
        </form>
    </div>

    <div class="container">

        {% for tenant_admin in admins %}
        <form action="{{ url_for('general_bp.post_admin') }}" method="POST" class="form tenant-admin">

            <h4>Администратор владельца{% if tenant_admin.activation_url %}<b> Не активирован</b>{% endif %}</h4>
            {% if tenant_admin.activation_url %}
                <a class="activation-link center" href="{{ tenant_admin.activation_url }}" target="_blank">Активировать</a>
            {% endif %}

            <div class="form-inputs">
                {{ tenant_admin.admin_form.csrf_token }}
                
                <div>
                    {{ tenant_admin.admin_form.first_name.label }}
                    {{ tenant_admin.admin_form.first_name(value=tenant_admin.first_name | or_blank) }}
                </div>

                <div>
                    {{ tenant_admin.admin_form.last_name.label }}
                    {{ tenant_admin.admin_form.last_name(value=tenant_admin.last_name | or_blank) }}
                </div>

                <div>
                    {{ tenant_admin.admin_form.phone.label }}
                    {{ tenant_admin.admin_form.phone(value=tenant_admin.phone | or_blank, disabled=True) }}
                </div>

                <div>
                    {{ tenant_admin.admin_form.email.label }}
                    {{ tenant_admin.admin_form.email(value=tenant_admin.email | or_blank, disabled=True) }}
                </div>

                {{ tenant_admin.admin_form.admin_id(value=tenant_admin.id.id) }}

                <div>
                    {{ tenant_admin.admin_form.submit }}
                </div>
            </div>
        </form>
        {% endfor %}
    </div>

    

    <!-- <div id="key-exists" data-keyExists="{{ key_exists }}" style="display: none;"></div> -->
    <!-- <script src="{{ url_for('general_bp.static', filename='modal.mjs') }}"></script> -->
    <script src="{{ url_for('general_bp.static', filename='openActivationTab.mjs') }}"></script>
</body>
</html>