<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <div class="header">
        <div class="container">
            <a href="{{ url_for('general_bp.loadkey') }}">Обновить ключ</a>

            <div class="flex">
                <div id="personal-info-toggle" class="btn flex flex-center mr-1 rel" href="">
                    <img style="width: 50px; height: 50px;" src="{{ url_for('static', filename='img/profile.png') }}" alt="Профиль">

                    <div id="personal-info" class="hidden abs">
                        <p>{{ issued_for['fname'] }}</p>
                        <p>{{ issued_for['lname'] }}</p>
                        {% if issued_for['patronym'] %}<p>{{ issued_for['patronym'] }}</p>{% endif %}
                    </div>
                </div>


                <div class="flex column">
                    <p>Лицензия: {{ 'Аткивна' if license_status else 'Неактивна' }}</p>
                    {% if license_status %} <p>Истекает: {{ protected_data.expires_at | dateformat }}</p> {% endif %}
                </div>
            </div>




        </div>
    </div>

    <div class="container">
        <form action="" class="form tenant-profile">

            <h4>Имя профиля</h4>

            <div class="form-inputs">
                <div>
                    <label for="max-devices">Макс. устройств</label>
                    <input disabled id="max-devices" value="5000" type="number">
                </div>

                <div>
                    <label for="max-assets">Макс. активов</label>
                    <input disabled id="max-assets" value="5000" type="number">
                </div>

                <div>
                    <label for="max-customers">Макс. клиентов</label>
                    <input disabled id="max-customers" value="100" type="number">
                </div>

                <div>
                    <label for="max-users">Макс. пользователей</label>
                    <input disabled id="max-users" value="500" type="number">
                </div>
            </div>
        </form>
    </div>

    <div class="container">
        <form action="" class="form tenant">

            <h4>Наименование компании</h4>

            <div class="form-inputs">
                <div>
                    <label for="region">Регион</label>
                    <input id="region" value="Средняя Азия" type="text">
                </div>

                <div>
                    <label for="country">Страна</label>
                    <input id="country" value="Казахстан" type="text">
                </div>

                <div>
                    <label for="state">Область/Штат/Земля</label>
                    <input id="state" value="Астана" type="text">
                </div>

                <div>
                    <label for="city">Город</label>
                    <input id="city" value="Астана" type="text">
                </div>

                <div>
                    <label for="address">Адрес</label>
                    <input id="address" value="500" type="text">
                </div>

                <div>
                    <label for="address2">Адрес 2</label>
                    <input id="address2" value="500" type="text">
                </div>

                <div>
                    <label for="zip">Почтовый индекс</label>
                    <input id="zip" value="010000" type="text">
                </div>

                <div>
                    <label for="phone">Номер телефона</label>
                    <input id="phone" value="500" type="text">
                </div>

                <div>
                    <label for="email">Электронная почта</label>
                    <input id="email" value="500" type="text">
                </div>

                <div>
                    <input type="submit" value="Обновить">
                </div>
            </div>
        </form>
    </div>

    <div class="container">
        <form action="" class="form tenant-admin">

            <h4>Администратор</h4>

            <div class="form-inputs">
                <div>
                    <label for="first-name">Имя</label>
                    <input disabled id="first-name" value="Имя" type="text">
                </div>

                <div>
                    <label for="last-name">Фамилия</label>
                    <input disabled id="last-name" value="Фамилия" type="text">
                </div>

                <div>
                    <label for="phone">Номер телефона</label>
                    <input id="phone" value="500" type="text">
                </div>

                <div>
                    <label for="email">Электронная почта</label>
                    <input id="email" value="500" type="text">
                </div>
            </div>
        </form>
    </div>

        {{ created_at | pprint }}
        <br>
     {{ protected_data | pprint }}
     <br>
     {{ protected_data.services | random }}

    <!-- <div id="key-exists" data-keyExists="{{ key_exists }}" style="display: none;"></div> -->
    <script src="{{ url_for('general_bp.static', filename='modal.mjs') }}"></script>
</body>
</html>