<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div id="load-key-modal" class="modal-background">
        <div class="modal-window">
            <h4>Загрузить ключ</h4>
            <form method="post" enctype="multipart/form-data">
                <input type="file" name="generated_key" id="key-input">
                {% if key_exists %}
                <a href="{{ url_for('general_bp.index') }}">Назад</a>
                {% endif %}
                <input type="submit" value="Подтвердить">
            </form>
        </div>
    </div>
</body>
</html>